/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Poppins&family=Rubik:ital@1&display=swap');

/* common styles or utilities */
nav{
    height: 94px; 
    background-color: #562EFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 180px;
}
.nav-bar{
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.nav-bar .logo {  
    display: flex;
    align-items: center;
}
.nav-bar .logo img{
    height: 52px;
    width: 40px;
    margin-right: 20px;
}
.nav-bar .logo p{
    font-size: 24px;
    font-weight: 700;
}
.nav-bar .menu {
    display: flex;
    align-items: center;
}
.nav-bar .menu ul{
    justify-content: center;
    list-style: none;
    margin-right: 20px;
    align-items: center;
}
.nav-bar .menu ul li a{
    float:right;
    font-size: 16px;
    font-weight: 700;
    color: white;   
    margin-left: 20px;
    text-decoration: none; 
    text-align: center;
    
}
.nav-bar .menu  img{
    float: right;
    width: 51px;
    height: 51px;  
}
footer {
    color: white;
    height: 150px; 
    background-color: #562EFF;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 80px;
}

body{   
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 33px;
}
/* top players style */
.top-players{
    margin-bottom:30px;
}
.section-title{
    color:#562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap:30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blog styles */
.blogs{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px ;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    height: 117px;
    width: 177px;
}
.blog-info{
    margin-left: 16px;
}.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f;
    font-size: 16px;
}
.blog-author a{
text-decoration: none;
font-size: 16px;
color: #562EFF;
}
/* courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.courses .course-banner img{
    height: 104px;
    width: 224px;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #ff1414;
}
.fa-star.empty{
    color: #aeaeae;
}.course-duration{
    background-color: #FFE4E8;
    color:#FF4A60;
}
/* media
   Mobile Device 
---------------*/ 
@media only screen and (max-width:688px) {    
    .players, .blogs, .courses{
    grid-template-columns:repeat(1, 1fr);
    }
    .container{
        width: 100%;
    }

    .player, .blog{
        flex-direction: column;
    }

}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players, .courses{
        
        grid-template-columns:repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns:repeat(1, 1fr);
    }
}
